/* Variables generales: modo oscuro */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --bg-hover: rgba(255, 255, 255, 0.1);

  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg: #242424;
  --color-card-bg: #1a1a1a;
  --color-card-text: rgba(255,255,255,0.87);
  --color-accent: #646cff;

  --color-modal-bg: #1e1e1e;
  --color-modal1-bg: #292929;
  --color-overlay: rgba(0,0,0,0.5);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Modo claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --color-text: #213547;
    --color-bg: #ffffff;
    --color-card-bg: #f9f9f9;
    --color-card-text: #213547;
    --color-accent: #747bff;

    /* Modal modo claro */
    --color-modal-bg: #ffffff;
    --color-modal1-bg: #f0f0f0;
    --color-overlay: rgba(0,0,0,0.4);

    /* Hover editable text */
    --bg-hover: rgba(0,0,0,0.05);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
